name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: chmod +x gradlew
        run: chmod +x gradlew
      - name: ./gradlew build
        run: ./gradlew build
      - name: Upload plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: plugin
          path: build/libs/*.jar
